.container{
    background-color: red;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content:space-between;
}
@media screen and ((max-width:400px)) {
    .container{
        background-color: blue;
    }
}
@media screen and ((min-width:400px) and (max-width:1100px)) {
    .container{
        background-color: yellow;
    }
    
}
@media screen and ((min-width:1100px)and (max-width:2000px)) {
    .container{
        background-color: red;
    }
    
}